@font-face {
    font-family: titleFont;
    src: url(karnakcondensed-normal-700.woff2);
}
@font-face {
    font-family: mainFont;
    src: url(franklin-normal-700.woff2);
}
@font-face {
    font-family: textFont;
    src: url(franklin-normal-600.woff2);
}
@font-face {
    font-family: mobileTitleFont;
    src: url(karnak-normal-400.woff2);
}

:root {
    --SVGblack: black;
    --black: black;
    --white: white;
    --gray: rgb(211, 214, 218);
    --darkgray: rgb(120, 124, 126);
    --red: rgb(241, 131, 131);
    --blue: rgb(134, 134, 226);
    font-family: mainFont, Helvetica, Arial, sans-serif;
}

body {
    margin:0;
    width: 100vw;
    height: 100vh;
}

#main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: var(--black);
    background-color: var(--white);
    border-bottom: solid 1px var(--darkgray);
    width: 100;
    height: 40px;
}
#top-right-box {
    width: max(180px,7vw);
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#title {
    width: max(180px, 7vw);
    font-size: 28px;
    font-weight: 900;
    font-family: titleFont;
}
#top-right-box>button {
    flex: 1;
    width: 100px;
    position: relative;
    font-weight: bolder;
    height: 100%;
    font-family: textFont, arial;
}
#new-game {
    padding: 6px;
    border-radius: 16px;
    margin-left: 4px;
}
.icon {
    flex: 1;
    height: 30px;
    max-width: 30px;
    margin-right: 6px;
    border: 0px;
    padding: 0px;
}
svg {
    width: 100%;
    /* background-color: var(--white); */
    border-radius: 8px;
    height: 28px;
    fill: var(--black);
}
#deleteSVG {
    height: 30px;
}
.icon:active {
    background-color: var(--white);
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ad {
    width: 160px;
    height:600px;
    margin: 2px;
}

#game-body {
    align-self: center;
    margin-top: 5px;
    width: min(62vh, 95vw);
    height: min(62vh, 95vw);
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap:2px;
    background-color: var(--darkgray);
}

#game-body>div {
    padding: 12px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--black);
}

#win {
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 30vh;
    border: solid var(--white) 6px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--black);
    font-size: max(42px, 7vw);
    box-shadow: 0px 0px 10px var(--darkgray);
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
#win-non-mobile {
    width: 30%;
    height: 100%;
    text-align: center;
    border: solid var(--white) 6px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--black);
    font-size: min(36px, 6vw);
    box-shadow: 0px 0px 10px var(--darkgray);
}
.X {
    position: absolute;
    top: 2px;
    right: 2px;
    border: 0px;
}
.X:active {
    background-color: var(--white);
    color: var(--black);
}
.X>svg {
    height: 16px;
}
#win>button {
    font-size: 16px;
}

button {
    background-color: var(--white);
    color: var(--black);
    border-radius: 12px;
    opacity: 100%;
    text-align: center;
    border-width: 1px;
}

button:active {
    background-color: var(--black);
    color: var(--white);
    transform: scale(.95);
}

.box {
    overflow: hidden;
}
*::-webkit-scrollbar {
    display: none;
}
.wordle {
    padding: 2px;
    margin: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--white);
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: stretch;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.word {
    margin-top: 8px;
    gap: 4px;
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(4.5vw, 2.5vh);
    height: min(4.5vw, 2.5vh);
    border: none;
    font-size: min(3.5vw, 2vh);
    font-weight:bold ;
    background-color: var(--white);
    border: 1px solid var(--darkgray);
    text-transform: uppercase;
}
.guessed {
    background-color: var(--darkgray);
    color: white;
}

#keys {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    display: grid;
    grid:  repeat(4, 1fr) / 1fr;
    gap: 2px;
}
#keys>.row {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 95vw;
}
.row>button {
    background-color: var(--gray);
    font-weight: bolder;
    font-size: 20px;
    width: 43px;
    height: 58px;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    border: none;
    font-family: mainFont, arial;
}
.row>.spec-key {
    width: 60px;
    font-size: 14px;
}
.spec-key>img {
    padding-top: 3px;
    width: 70%;
}

#keys>#input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: solid 4px var(--red);
    margin: auto;
    padding: 5px;
    border-radius: 4px;
}
.wrong {
    animation-name: shake;
    animation-duration: .2s;
}
#keys>#input-box>.input {
    outline: none;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    border: 2px var(--gray) solid;
    background-color: var(--white);
    color: var(--black);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    caret-color: transparent;
    font-family: mainFont, arial;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    50% { transform: translateX(-10px) }
    75% { transform: translateX(10px) }
    100% { transform: translateX(0) }
}

.settings {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: min(50vw, 500px);
    height: 40vh;
    border: solid var(--white) 6px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    box-shadow: 0px 0px 10px var(--darkgray);
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: space-evenly;
    align-items: center;
}
.setTitle {
    position: relative;
    top: 2px;
    padding: 2px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid var(--darkgray)
}
.settings-main {
    text-align: center;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.settings-main>a {
    font-weight: 100;
}

/* slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: var(--darkgray);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--darkgray);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }