body {
    margin:0;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: white;
    border-bottom: solid 2px black;
    position: fixed;
    top: 0px;
    width: 100%;
}
header>button {
    margin-right: 20px;
}

#body {
    align-self: center;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap:6px;
    background-color: black;
}

#body>div {
    padding: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(12vw, 12vh);
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    padding: 12px;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}

div>#win {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -29vw;
    top: 50%;
    margin-top: -28vw;
    width: 50vw;
    height: 50vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 14px;
    border-radius: 12px;
    color: black;
    padding: 24px;
    font-size: 24px;
}

button {
    background-color: white;
    color: black;
    border-radius: 4px;
    opacity: 100%;
}

button:focus {
    background-color: black;
    color: white;
}